@import './base/base.scss';
@import './variable/variable.scss';


.header {

    .container {

        .navbar {
            padding: 0;

            .auth--nav {
                background-color: #000;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px 64px;

                .logo {

                    a {
                        img {}
                    }
                }

                .auth {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 32px;

                    img {}

                    a {
                        color: $slate-100;
                        font-weight: 300;
                        font-size: 14px;
                        transition: color 0.2s;

                        &:hover {
                            color: #ffedd5;
                        }
                    }
                }
            }

            .pagination {
                padding: 10px 64px;
                list-style: none;
                display: flex;
                gap: 16px;
                font-size: 18px;

                li {
                    a {
                        font-weight: 200;
                    }
                }
            }
        }
    }
}

.carousel {
    text-align: center;
    .container {

        .row{
            .col{
                .card{

                    .card-body{

                        h2{

                        }

                        form{

                            .row{

                                .col{
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}