// Background color
$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;
$slate-600: #475569;
$slate-900: #020617;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}
