@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  font-family: "Inter", sans-serif;
  color: #020617;
  font-weight: 300;
}

a {
  color: #020617;
  text-decoration: none;
}

.auth--nav {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 64px;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.auth a:link,
.auth a:visited {
  color: #f1f5f9;
  font-weight: 300;
  font-size: 14px;
  transition: color 0.2s;
}

.auth a:hover,
.auth a:active {
  color: #ffedd5;
}

.auth img:hover {
  cursor: pointer;
}

.pagination {
  padding: 16px 64px;
  list-style: none;
  display: flex;
  gap: 16px;
  font-size: 18px;
}

.pagination a:link,
.pagination a:visited {
  font-weight: 200;
}

.pagination a.active,
.pagination a:hover,
.pagination a:active {
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
}

.container {
  width: 1280px;
  margin: 0 auto;
}
.container .carousel {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 64px;
  width: 100%;
  height: 400px;
  background-image: url(/assets/images/bottom-image.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.container .carousel .heading {
  transform: translate(-64px, 128px), scale(1.3);
}
.container .carousel .heading h1 {
  font-weight: 400;
  display: block;
  margin-bottom: 4px;
}
.container .carousel .heading p {
  display: block;
  margin-bottom: 18px;
}
.container .carousel .heading button {
  background-color: #fdba74;
  color: #f1f5f9;
  border: none;
  padding: 12px 32px;
}
.container .carousel img {
  transform: translateY(-96px);
}
.container .carousel .icons {
  width: 32px;
  height: 32px;
}
.container .carousel .left,
.container .carousel .right {
  padding: 12px;
  border-radius: 50%;
  border: none;
  background: none;
  top: 50%;
  transform: translateY(-150%);
}
.container .carousel .left {
  position: absolute;
  left: 0;
}
.container .carousel .right {
  position: absolute;
  right: 0;
}
.container .hidden {
  display: none;
}
.container .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
}
.container .feature .feature--header {
  margin-bottom: 64px;
}
.container .feature .shoes {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 96px;
  row-gap: 80px;
}
.container .feature .shoes--item {
  width: 310px;
  height: 370px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}
.container .feature .shoes--img {
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .feature .description {
  height: 20%;
  padding-left: 24px;
}
.container .feature .description .shoes--name {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 8px;
}
.container .feature .description .shoes--desc {
  font-weight: 300;
  color: #cbd5e1;
}
.container .feature .price--box {
  height: 15%;
  display: flex;
}
.container .feature .price--box .order {
  width: 60%;
  border: none;
  background-color: #fdba74;
  color: #020617;
  font-weight: 100;
  font-size: 24px;
}
.container .feature .price--box .price {
  width: 40%;
  padding-right: 24px;
  text-align: end;
  align-content: center;
  font-size: 24px;
  background-color: #cbd5e1;
}
.container .footer {
  margin-top: 128px;
}

/*# sourceMappingURL=styles.css.map */
